body {
    background-color: oldlace;
    text-align: center;
}

h1 {
    color: red;
    font-size: 30;
    font-family: fantasy, 'Times New Roman', Times, serif;
}

p {
    font-family: fantasy, 'Times New Roman', Times, serif;
}

#record {
    border: 1px solid black;
    text-align: left;
}

.spacer{
    padding: 20px;
}

#enemyPic
{
    text-align: left;
}

.center {
    text-align: center;
}

#record {
    font-family: fantasy,'Times New Roman', Times, serif
}